@media screen and (max-width: 600px) {
    span {
        font-size: 21.543px;
    }

    /* nav */
    nav{
        display: none;
    }

    /* Deals & Discounts */

    .deal-discount-section {
        margin: 20px;
    }

    .deal-discount-date-inner .span-inner {
        width: 100%;
    }

    .deal-discount-date-inner-2 .span-inner {
        width: 50%;
    }

    .deal-discount-date-inner-3 .span-inner {
        width: 50%;
    }

    .deal-discount-section>h1 {
        font-size: 20px;
        margin-top: 24px;
        margin-bottom: -16px;
    }

    .deal-discount-section>p {
        font-size: 14px;
        width: 100%;
        margin-bottom: 16px;
    }

    .deal-discount-price {
        width: 80%;
        height: 58%;
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2.5px);
        padding: 20px;
        margin-bottom: 25px;
    }

    .deal-discount-price-A {
        margin-right: 0px;
    }

    .deal-discount-price-B {
        margin-left: 0px;
    }

    .deal-discount-card-1,
    .deal-discount-card-2,
    .deal-discount-card-3 {
        justify-content: center;
    }

    .deal-discount-price * {
        margin: 6px 0;
    }
   
    .deal-discount-card {
        align-items: flex-end;
        padding-bottom: 10px;
        background-repeat: no-repeat;

    }

    .deal-discount-date>span {
        flex-direction: column;
    }

    .deal-dicount-date>span>img {
        width: 24px;
    }

    .deal-discount-card h2 {
        font-size: 13px;
        margin-top: -6px;
        margin-bottom: -6px;
    }

    .deal-discount-card p {
        font-size: 14px;
    }

    .deal-discount-card h1 {
        font-size: 16px;
    }


    /* banner section */

    .banner-section {
        margin: 20px;
    }

    .banner-section h3 {
        font-size: 22px;
    }

    .banner-section p {
        font-size: 14px;
        width: 90%;
        text-align: center;
    }

    .banner-input-section {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .banner-input-section input,
    .banner-input-section select {
        width: 176px;
        padding: 15px;
        border: none;
        border-radius: 8px;
        color: rgba(19, 19, 24, 0.50);
        font-size: 16px;
    }



    /* Popular section */

    .popular-tour-section {
        flex-direction: column;
        margin: 20px;
    }

    .popular-tour-section-content {
        margin-right: 0px;
        margin-bottom: 24px;
    }

    .popular-tour-section-content h3 {
        font-size: 20px;
    }

    .popular-tour-section-content p,
    ul {
        font-size: 14px;
    }

    .popular-tour-section-content ul>li {
        padding-bottom: 12px;
        padding-top: 12px;
    }

    .popular-tour-section-content p {
        padding-bottom: 16px;
    }

    .popular-tour-section-image {
        width: 100%
    }

    .popular-tour-section-image img {
        width: 100%
    }

    /* Choose Your Destination */
    .choose-your-destination {
        margin: 20px;
    }

    .choose-your-destination-content h3 {
        font-size: 20px;
    }

    .choose-your-destination-content p {
        font-size: 14px;
        width: 100%;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .choose-your-destination-img-area {
        display: grid;
        width: 100%;
        gap: 18px;
        grid-template-areas:
            "Maldives "
            "Indonesia"
            "Srilanka"
            "NorthAmerica"
            "Kashmir"
            "Bandarban "
            "Bangladesh";
    }

    .choose-your-destination-img-area img {
        width: 100%;
        height: 176px;
    }

    /* choose us section */

    .choose-us-section {
        margin: 20px;
    }

    .choose-us-service-container {
        margin-top: 16px;
    }

    .choose-us-section>h1 {
        font-size: 20px;
    }

    .choose-us-section>p {
        font-size: 16px;
        margin-top: 15px;
        width: 100%;
    }

    .choose-card-1>h3,
    .choose-card-2>h3,
    .choose-card-3>h3 {
        font-size: 20px;
    }

    .choose-card-1>img,
    .choose-card-2>img,
    .choose-card-3>img {
        width: 48px;
    }

    /* A Simple Perfect Place To Get Lost*/

    .simple-perfect-place {
        display: flex;
        flex-direction: column;
        margin: 20px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .simple-perfect-place-content {
        margin-bottom: 24px;
    }

    .simple-perfect-place-content h3 {
        font-size: 20px;
        font-weight: 800;
        line-height: 30px;
        text-align: justify;
    }

    .simple-perfect-place-content p {
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        width: 127%;
        text-align: justify;
    }

    .simple-perfect-place-content>ul {
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        width: 127%;
        text-align: justify;
    }

    .simple-perfect-place-content-video {
        width: 100%;
        height: 100%;
    }

    .simple-perfect-place-content-video iframe {
        border-radius: 16px;
        /* object-fit: cover; */
        width: 100%;
        height: 100%;
    }

    /* newslatter */


    .newsletter-section {
        flex-direction: column;
        margin: 20px;
    }

    .newslatter-content {
        width: auto;
        padding: 20px;
        margin-right: 0px;
        margin-bottom: 15px;
    }

    .newslatter-content p {
        font-size: 14px;
        line-height: 24px;
        text-align: justify;

    }

    .newslatter-content>form>input {
        padding: 12px 10px;
    }

    .newslatter-image-area {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        position: relative;
    }

    .newslatter-image-area img {
        /* width: 100%;
        height: 100%; */
        width: 100%;
        height: 300px;
    }

    .newslatter-image-area .promo-code {
        width: 61%;
        height: 18%;
        right: 15px;
        transform: rotate(-30deg);
        top: 136px;

    }

    .newslatter-image-area .promo-code>h3 {
        font-size: 15px;
    }

    .newslatter-image-area .promo-code>h2 {
        font-size: 22px;
    }



    /* footer */

    .footer-section {
        padding: 30px 0;
    }

    .footer-logo>img {
        width: 30px;
    }

    .footer-logo>h1 {
        font-size: 21.543px;
    }

    .footer-container>p {
        font-size: 14px;
    }

    .media-icon>i {
        font-size: 24px;
    }

}