/* Mulish Font from google */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');


* {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

/* Comoon Element */
.btn-tomatto {
    padding: 15px 25px;
    border-radius: 8px;
    background-color: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* Start Banner Section Style */

.banner-section {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-section h3 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.banner-section p {
    color: #FFF;
    font-size: 16px;
    margin-top: 24px;
    width: 50%;
    text-align: center;
}

.banner-input-section {
    margin-top: 45px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.banner-input-section input,
.banner-input-section select {
    width: 176px;
    padding: 15px;
    border: none;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
}

.btn-tomatto i {
    margin-right: 8px;
}

/* End Banner Section Style */

/* start popular section style  */
.popular-tour-section {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.popular-tour-section-content {
    margin-right: 100px;
}

.popular-tour-section-content h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 24px;
}

.popular-tour-section-content p,
ul {
    color: #5A5A5D;
    font-size: 16px;
    line-height: 26px;
}

.popular-tour-section-content ul {
    padding-left: 28px;
    padding-bottom: 24px;
}

.popular-tour-section-content ul>li {
    padding-bottom: 16px;
    padding-top: 16px;
}

.popular-tour-section-content p {
    padding-bottom: 24px;
}

/* end popular section style   */

/* start Choose Your Destination */

.choose-your-destination {}

.choose-your-destination-content {
    text-align: center;
}

.choose-your-destination-content h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.choose-your-destination-content p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 45px;
}

.choose-your-destination-img-area .image-1 {
    grid-area: Maldives;
}

.choose-your-destination-img-area .image-2 {
    grid-area: Indonesia;
}

.choose-your-destination-img-area .image-3 {
    grid-area: Srilanka;
}

.choose-your-destination-img-area .image-4 {
    grid-area: NorthAmerica;
}

.choose-your-destination-img-area .image-5 {
    grid-area: Kashmir;
}

.choose-your-destination-img-area .image-6 {
    grid-area: Bangladesh;
}

.choose-your-destination-img-area .image-7 {
    grid-area: Bandarban;
}


.choose-your-destination-img-area {
    display: grid;
    width: 100%;
    gap: 18px;
    grid-template-areas: "Maldives Maldives Maldives Maldives Indonesia Indonesia Indonesia Indonesia"
        "Srilanka Srilanka NorthAmerica NorthAmerica NorthAmerica NorthAmerica Kashmir Kashmir "
        "Bandarban Bandarban Bandarban Bandarban Bangladesh Bangladesh Bangladesh Bangladesh";

}

.choose-your-destination-img-area img {
    width: 100%;
    height: 300px;
    /* object-fit: cover; */
}

/* end Choose Your Destination  */


/* Start Simple perfect place Style */
.simple-perfect-place {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.simple-perfect-place-content {
    margin-right: 100px;
}

.simple-perfect-place-content h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
    padding-bottom: 24px;
}

.simple-perfect-place-content p {
    color: #5A5A5D;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 24px;
}

.simple-perfect-place-content>ul {
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    padding-left: 28px;
    padding-bottom: 24px;
}

.simple-perfect-place-content ul>li {
    padding-bottom: 16px;
}

.simple-perfect-place-content-video {
    width: 50%;
    height: 100%;
}

.simple-perfect-place-content-video iframe {
    border-radius: 16px;
    object-fit: cover;
    height: 424px;
    width: 590px;
}



/* End Simple perfect place Style */